body {
    margin: 0px;
}

h1 {
    margin: 0px;
    background-color: wheat;
    /* background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
}

body h1 {
    font-family: Lobster, cursive;
    text-align: center;
    color: black;
}

/* .tabela {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
} */

.kubek {
    margin: 30px;
    padding: 30px;
    width: 100px;
    height: 100px;
    float: left;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 0px 0px 20px 20px;
    cursor: pointer;
    
    background-size: 200% 200%;
    transition: background-position 500ms;
}
.zolta {
    background-image: linear-gradient(to top, red 50%, transparent 50%);
}
.zielona {
    background-image: linear-gradient(to top, orange 50%, transparent 50%);
}
.niebieska {
    background-image: linear-gradient(to top, yellow 50%, transparent 50%);
}
.czerwona {
    background-image: linear-gradient(to top, green 50%, transparent 50%);
}
.fioletowa {
    background-image: linear-gradient(to top, blue 50%, transparent 50%);
}
.czarna {
    background-image: linear-gradient(to top, purple 50%, transparent 50%);
}